/* Overarching site rules. Import these to any other css sheets but not onto
 * html pages.
 */

/* google font maybe */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}


/* global variables */
:root {
    --bodyColor: #4a525a;
    --textcolor: #fff;
    --linkColor: red;
}


/* scrollbar */
::-webkit-scrollbar {
    width:1%;
}


/* left and right wrappers */


/* clean float */

/* nav bar */
