/* google font maybe */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: #4a525a;
}

/* global variables */
:root {
    --bodyColor: #4a525a;
    --textcolor: #fff;
    --linkColor: red;
}


.sidenav{

    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 60px;
    background-color: #4a525a;
}

.sidenav .max-width{
    display:inline;
    align-items: center;
    justify-content: space-between;
}

.sidenav .max-width a{
    text-decoration: none;
    font-size: 25px;
}