/* google font maybe */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

/* global variables */
:root {
    --bodyColor: #4a525a;
    --textcolor: #fff;
    --linkColor: red;
}




.sidenav{

    height: 100%;
    width: 30px;
    z-index: 1;
    top: 0;
    left: 20px;
    padding-top: 60px;
}

.sidenav .max-width{

    display:inline;
    align-items: center;
    justify-content: space-between;

}